<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout/plantilla :: head}">
      <title>Semana 07 Grupo #14</title>
  </head>
  <body>
      <header th:replace="~{layout/plantilla :: header}"></header>

      <!-- Sección para botón de agregar país -->
      <section th:replace="~{pais/fragmentos :: botonesAgregar}"></section>
      <!-- Sección para modal de agregar país -->
      <section th:replace="~{pais/fragmentos :: agregarPais}"></section>
      <!-- Sección principal de listado de países -->
      <section th:replace="~{pais/fragmentos :: listadoPaises}"></section>
      
      

      <footer th:replace="~{layout/plantilla :: footer}"></footer>
  </body>
</html>
